@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(109 40 217);
  --secundary-color: rgb(255 255 255);
  --text-color: rgb(0 0 0);
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .body { @apply w-full m-auto }
  .section { @apply w-[85vw] m-auto lg:w-[60vw] py-5 }
}

.show {
  transform: translateX(-20%);
}

.btn_close {
  display: flex;
}

.openSearch {
  display: block;
}